<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>example-config-client</display-name>

  <servlet>
    <servlet-name>client loop</servlet-name>
    <servlet-class>com.mooreb.exampleconfigclient.service.App</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>
